{% set map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['unbound'],
        'service': 'unbound',
        'config_file': '/etc/unbound/unbound.conf',
        'config_src': 'salt://unbound/files/unbound.conf',
    },
    'RedHat': {
        'pkgs': ['unbound'],
        'service': 'unbound',
        'config_file': '/etc/unbound/unbound.conf',
        'config_src': 'salt://unbound/files/unbound.conf',
    },
}, grain='os_family', merge=salt['pillar.get']('unbound:lookup')) %}

